table th {
  opacity: 0.4;
  font-size: 12px;
  color: #72799A;
  letter-spacing: 1.49px;
  text-align: center;
  text-transform: uppercase; }

.noPain__btnNoPain {
  background: #A3DCDE;
  border: none;
  font-size: 27px;
  color: #FFFFFF;
  letter-spacing: 2.45px;
  border-radius: 4px 4px 0px 0px;
  width: 80%;
  height: 54px;
  padding-top: 12px; }

.pain__btnPain {
  background: #AD98E3;
  border: none;
  font-size: 27px;
  letter-spacing: 2.45px;
  border-radius: 4px 4px 0px 0px;
  width: 80%;
  height: 54px;
  padding-top: 12px; }

.block-title__number {
  display: inline-block;
  border: 2px solid #AD98E3;
  border-radius: 100px;
  height: 32px;
  width: 32px;
  padding-top: 2px;
  padding-left: 10px;
  color: #ad98e3; }

.calendar span.noPain {
  background: #92C5C7; }

.calendar span {
  display: inline-block;
  width: 80%;
  background: #9B88CB;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1.27px;
  padding: 8px;
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 8px; }

.calendar__calendarNav {
  border: 1px solid #E9E9EE; }

.calendar__month {
  font-weight: bold;
  font-size: 24px;
  color: #72799A;
  letter-spacing: 1.52px;
  text-align: center;
  text-transform: uppercase; }

.calendar__year {
  opacity: 0.5; }

.diaryEntry__iconNight, .diaryEntry__iconDay {
  font-size: 32px; }

.diaryEntry__iconDay {
  color: #E3D198; }

.diaryEntry__iconNight {
  color: #AD98E3; }

.diaryEntry ul li {
  list-style-type: none; }

.form-row {
  margin-bottom: 24px; }
