.category {
  margin-bottom: 40px; }

.active {
  background: red; }

.practice {
  padding: 28px;
  margin-bottom: 24px;
  background-color: #AD98E3;
  border-radius: 4px; }
  .practice__btnPlay {
    border: 4px solid #FFFFFF;
    border-radius: 100px;
    background: none;
    width: 54px; }
  .practice__title {
    font-family: Karla-Bold;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: -0.45px; }
  .practice__artist {
    opacity: 0.45;
    font-family: Karla-Regular;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: -0.31px;
    line-height: 31px; }

.styleTwo {
  background: #A3DCDE; }

.practicePlayer {
  background-image: url("https://images.unsplash.com/photo-1443397646383-16272048780e?ixlib=rb-0.3.5&s=b26f3786d82b7a9d1a22d69cd094ff1e&auto=format&fit=crop&w=1267&q=80");
  background-position: center;
  background-size: cover; }
  .practicePlayer .player {
    margin-top: 128px; }
    .practicePlayer .player__btnPlay {
      color: #fff;
      border: 5px solid #fff;
      display: inline-block;
      height: 64px;
      width: 64px;
      -webkit-border-radius: 40px;
      border-radius: 40px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      font-size: 32px;
      padding-top: 12px; }
    .practicePlayer .player__trackName {
      font-size: 39px;
      color: #FFFFFF;
      letter-spacing: -0.8px; }
    .practicePlayer .player__artistName {
      opacity: 0.45;
      font-family: Karla-Regular;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: -0.31px;
      line-height: 31px; }

.poweredBy {
  opacity: 0.5;
  margin-top: 128px;
  color: #fff; }
  .poweredBy h5 {
    font-size: 15px; }
