body {
  background-image: url(images/__chatBg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  padding: 24px; }

.clearfix {
  overflow: auto; }

.talk__elle {
  font-family: Karla-Regular;
  font-size: 15px;
  color: #66687C;
  letter-spacing: 1.03px;
  line-height: 31px; }

.talk__convo {
  height: 400px;
  overflow: scroll; }

.talk__user {
  width: 100%;
  font-family: Karla-Regular;
  font-size: 15px;
  color: #66687C;
  letter-spacing: 1.03px;
  line-height: 31px;
  border-radius: 8px;
  text-align: right;
  padding: 28px;
  padding-right: 8px;
  padding-top: 8px;
  margin-bottom: 20px;
  float: right; }

.talk__ellePic {
  margin-right: 20px; }

.talk__userPic {
  margin-left: 20px;
  border-radius: 80px; }

.talk__bubble {
  margin-bottom: 24px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #DCDDE3;
  border-radius: 8px;
  width: auto;
  padding: 8px;
  background: #FFFFFF;
  border: 1px solid #DDDEE4;
  -webkit-box-shadow: 0 14px 39px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 14px 39px 0 rgba(0, 0, 0, 0.09);
  border-radius: 8px; }

.talk__button {
  margin-top: 40px;
  padding-bottom: 40px; }

.talk__btnReply {
  border: 2px solid #A3DCDE;
  border-radius: 8px;
  margin-left: 24px;
  margin-bottom: 16px;
  font-family: Karla-Bold;
  font-size: 15px;
  color: #A3DCDE;
  letter-spacing: 1.03px;
  line-height: 31px; }
