.navbar {
  background: #6E6699; }
  .navbar__pageTitle, .navbar__btnArrowBack {
    color: #fff;
    font-weight: bold; }

.questionaire__title {
  border-bottom: 5px solid #E1E0E6;
  padding-bottom: 15px;
  color: #6E6699;
  opacity: 1; }

.questionaire label {
  color: #332D62; }

.questionaire__progress {
  opacity: 0.4; }

.questionaire__question {
  margin-bottom: 20px; }

.questionaire__multiple label {
  color: #332D62; }

.questionaire__btnPrevious {
  height: 56px;
  padding-top: 14px; }

.questionaire__cta {
  margin-top: 20px; }

.form-check {
  margin-left: -20px; }
  .form-check label {
    color: #8581A1;
    padding-left: 40px; }

.containerWhite {
  padding: 0px; }

@media (min-width: 1400px) {
  body {
    background-color: #E4E3EA; }
  .containerWhite {
    margin-top: 24px;
    padding: 40px; } }
